header {
  background-color:#F5ECCE;
  width:1440px;
  height:90px;
  text-align:center;
}

section {
  background-color:white;
  width:720px;
  height:900px;
  text-align:left;
  float:left;
}

aside {
  background-color:white;
  width:720px;
  height:900px;
  float:right;
  text-align : left;
}

footer {
  margin-top : 990px;
  background-color:#F5ECCE;
  width:1440px;
  height:200px;
  font-family: 'Noto Serif KR', serif;
  color:gray;
  font-family: 'Noto Serif KR', serif;
  padding-left: 10px;
}

footer p {
    text-align:left;
}

body {margin: auto;
  width:1440px;
}


ul {
  width : 380px;
  margin : 30px 0px;
  padding : 0px 50px;
  list-style-type:none;
  font-size:20px;
  font-weight:bold;
  color:#03CF5D;
  display:inline-block;
  float:left;
  overflow: hidden;
}

ul li {
  margin-left: 25px;
  display:inline-block;
  font-family: 'Noto Serif KR', serif;
  float:left;
}

.menu a {
  color : #03CF5D;
}

.dropdown a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: #6E6E6E;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #03CF5D; color:white;}

.dropdown:hover .dropdown-content {
display: block;
}

h1 {
  height: 60px;
  margin: 15px;
  font-size:60px;
  color:#872600;
  text-align: center;
  font-weight:bold;
  font-family: 'Nanum Brush Script', cursive;
  display:inline-block;
  float:left;
}

#title {
  heiht : 90px;
  width : 300px;
  display : inline-block;
  float:left;
  padding-left:70px;
}

button {
  height:40px;
  background-color:#03CF5D;
  color:white;
  border-style:solid;
  border-radius:5px;
  font-family: 'Noto Serif KR', serif;
  margin: 25px 0px 25px 15px;
  font-size:13px;
}

  #buttons{
    display : inline-block;
    float:left;
    height:90px;
    width:550px;
  }

button a {
  text-decoration : none; color:white;
}

  a {
  text-decoration : none;
}

 .fir a {
   text-decoration : none; color:black;
 }

#search {
  display: inline-block;
  border-style:none;
  border-radius: 5px 0px 0px 5px;
  width:60px;
  height:40px;
}

input {
  width : 160px;
  height:34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Noto Serif KR', serif;
  margin-top:15px;
}


#mark {
  width:46px;
  height:46px;
  float:left;
  margin:20px 0px;
}

img {
  height:50px;
  width:50px;
}

.img {
  width : 300px;
  margin : 5px 100px;
  text-align : center;
}

span {
  display : inline-block;
    width : 150px;
    color : #03CF5D;
    font-family: 'Noto Serif KR', serif;
}

.form {
    font-family: 'Noto Serif KR', serif;
    font-weight : bold;
}

select {
  margin-top : 30px;
}

#login {
  margin : 50px;
  padding : 50px;
  border:dotted;
  border-color:#F5ECCE;
}

#login div {
  margin-left: 30px;
  color : #03CF5D;
  display : inline-block;
  width : 250px;
  font-weight : bold;
}

#id, #pw {
  margin : 5px 80px 3px 7px;
}

#login button {
  margin : 5px;
}

p {
  text-align: center;
  font-family: 'Noto Serif KR', serif;

}

#join {
  margin : 50px;
  padding : 50px;
  border:dotted;
  border-color:#F5ECCE;
}

#join button {
  width : 100px;
    margin : 10px 200px;
}

.radio {
  width : 25px;
}

.check {
  width : 25px;
}

h2 {
  margin : 5px;
  font-size : 50px;
  font-family: 'Nanum Brush Script', cursive;
  color : #872600;
}
