header {
    height : 60px;
    margin : 10px;
    text-align : center;
}

nav {
    margin-left : 40px;
}

nav ul {
    list-style : none;
    text-align : center;
    border-top : 1px solid yellowgreen;
    border-bottom : 1px solid yellowgreen;
    padding : 10px 0;
}

nav ul li {
    margin-top : auto;
    display : inline;
    text-transform : uppercase;
    padding : 0 40px;
    letter-spacing : 10px;
}

nav ul li a {
    text-decoration : none;
    color : black;
}

nav ul li a:hover {
    text-decortaion : underline;
    color : orange;
}

aside {
    margin : 0;
    width : 250px;
    float : left;
}

aside ul {
    margin : 0;
    color : #fff;
    list-style : none;
    text-indent : 15px;
}

aside h4 {
    margin-left : 40px;
    margin-bottom : 0;
    width : 200px;
    height : 60px;
    background : #e3e3e3;
}

aside ul li {
    background : #3f3f3f;
    font-size : 20px;
    line-height : 30px;
    width : 200px;
    height : 50px;
}

aside ul li a {
    text-decoration : none;
    color : #fff;
    display : block;
    width : 200px;
    height : 50px;
}

aside ul li a:hover {
    background : #d03;
}

#main {
    color : #444;
    overflow : hidden;
    float : left;
    width : 1440px;
}

footer {
    clear : both;
    background : #e3e3e3;
    height : 100px;
}

body {

}